/**
 * Vars
 */
$c-admin: #fc6262;
$c-mod: #457af7;
$c-blue-lt: #3b5157;
$c-blue-dk: #303e45;
$c-black-lt: #20272b;
$c-black-dk: #1b2023;
$c-font: #aaa;
$f-size: 12px;

/**
 * Styles
 */
body, #content {
  background: $c-black-dk !important;
  color: $c-font !important;
  font-size: $f-size !important;
}

#wall-posts li a {
  color: $c-font !important;
}

.auto-embed-placeholder {
  color: $c-font !important;
  text-align: center !important;

  .play-button > span {
    margin: 3px !important;
    word-break: break-all !important;
    background: #000 !important;
    padding: 3px !important;
    border-radius: 5px !important;
  }
}

// Instagram
.embedded-iframe {
  border-radius: 5px !important;
  height: 510px !important;
  background: #eee !important;
}

.auto-embed-placeholder,
.auto-embed {
  border-color: $c-blue-dk !important;

  strong {
    color: $c-font !important;
  }
}

a.friend,
#friend-list li:not(.owner) {
  border-color: #333 !important;
}

#friend-list li.owner {
  border-color: $c-admin !important;
}

#friend-list li.mod {
  border-color: $c-mod !important;
}

#pm-read-footer,
hr {
  border-color: $c-blue-lt !important;
}

#user-menu li a {
  color: #fff !important;
}

a {
  color: #74a0bc !important;

  &:hover,
  &:focus {
    text-decoration: none !important;
  }

  &:hover {
    color: #74a0bc !important;
    filter: brightness(110%) !important;

    img {
      filter: brightness(90%) !important;
    }
  }
}

#profile-image {
  border-radius: 10px !important;
}

img.av,
#user-group-menu li span {
  border-radius: 5px !important;
}

.usr-awards li {
  border-color: $c-blue-dk !important;
}

.usr-awards li,
p.deleted-entry {
  border-radius: 5px !important;
  color: $c-admin !important;
  background: #222 !important;
}

blockquote {
  background: $c-blue-dk !important;
  border: none !important;
  border-left-color: $c-blue-lt !important;
  border-radius: 5px !important;

  .quote-message {
    color: #ddd !important;
  }
}

#year-stats-wrapper {
  filter: invert(1);
}

#comments dd {
  margin-bottom: 10px !important;
}

#pm-h h3,
#comments dt .username,
#comments .inf {
  padding-top: 5px !important;
  background: $c-black-lt !important;
}

#comments dt .username {
  padding-bottom: 5px !important;
  border-radius: 5px 0 0 5px !important;
}

#comments .inf {
  color: $c-font !important;
  line-height: 1.2em !important;
  border-radius: 0 5px 5px 0 !important;
}

#comments dd,
#comments dt {
  border: none !important;
  background: none !important;
}

#comments .comment-signature {
  border-color: #333 !important;
}

#comments .comment-tools {
  display: none !important;
}

.junk-box {
  display: flex !important;
  justify-content: center !important;
}

.mods,
.admins,
.rautors {
  text-shadow: 0 1px #111 !important;
}

.mods {
  color: $c-mod !important;
}

.admins {
  color: $c-admin !important;
}

.rautors {
  color: #9acd32 !important;
}

#latest-topics li,
.mb-col li,
.small-userlist li a img {
  border: none !important;
  border-radius: 5px !important;
}

h1, h2, h3, h4, h5, h6 {
  color: #ddd !important;
}

.spoiler {
  color: $c-font !important;
  background: $c-blue-lt !important;

  .spoiler-title {
    color: #c-font !important;
    background: $c-black-lt !important;
    border-radius: 3px !important;
  }
}

.button,
.moretag a {
  border-radius: 3px !important;
}

.button.primary {
  color: #eee !important;
  background: #285e8e !important;
}

.button.primary:hover {
  color: #fff !important;
  background: #428bca !important;
}

#header {
  padding-bottom: 10px !important;
}

#user-menu li ul#user-group-menu li span {
  background-size: cover !important;
}

#swipe-menu-responsive li > a,
#user-menu li a {
  border: none !important;
}

ul.dropdown-menu {
  border-bottom-color: $c-black-lt !important;
  border-radius: 0 0 5px 5px !important;
}

li.dropdown:hover {
  background: $c-blue-dk !important;
}

#swipe-menu-responsive li.dropdown:hover a,
#user-menu li:hover a {
  background: $c-blue-dk !important;
}

#swipe-menu-responsive .nav {
  margin-right: 0 !important;
}

ul.tabnav li a:hover,
ul.tabnav li a.active,
ul.tabnav li a.selected {
  background: #426643 !important;
}

#headline {
  display: none !important;
}

#intr {
  border: none !important;
  border-radius: 0 0 10px 10px !important;
}

#intr .search form,
#intr .search input[type="text"] {
  background: $c-blue-dk !important;
  border-left: none !important;
}

.core-pager,
#user-notify li {
  border: none !important;
}

.core-pager .prev,
.core-pager .next {
  background: $c-blue-dk !important;
  border-radius: 5px !important;

  &:hover {
    background: $c-blue-lt !important;
  }
}

#user-notify li > a:hover,
.blockhref li a:hover {
  background: $c-black-dk !important;
}

legend {
  margin-bottom: 10px !important;
}

h2.entry-title,
.entry-meta,
.entry-meta ul li,
legend {
  border-color: #333 !important;
  color: $c-font !important;
}

.user-actions li,
#miniblog-list li ul li {
  border: none !important;
}

#miniblog-list li .post-info,
.responses li .post-info {
  color: #666 !important;
}

#miniblog-list .level-0 > li > .response-content {
    border-bottom: 1px solid #2f2f2f !important;
}

#miniblog-list .responses-0 .comment-date-time:not(.visible),
#miniblog-list .responses-0 .post-button:not(.visible) {
  opacity: 0 !important;
  transition: opacity 200ms ease-in-out !important;
}

#miniblog-list .responses-0 .response-content:hover > .post-info .comment-date-time,
#miniblog-list .responses-0 .response-content:hover > .post-info .post-button {
  opacity: 1 !important;
}

#miniblog-list li .post-content img {
  max-width: 90% !important;
}

.mbox {
  background: $c-blue-dk !important;
  border-radius: 5px !important;
  margin-bottom: 5px;
}

.widget .mbox,
#last-action-list.mbox {
  background: none !important;
}

#content .list-tags li {
  border-radius: 5px !important;
  padding: 0 !important;
  background: $c-blue-lt !important;
}

#content .list-tags a {
  color: $c-font !important;
  padding: 0 7px !important;
  text-shadow: none !important;
}

#miniblog-list li ul ul {
  padding: 0 !important;
}

#miniblog-list li ul li ul li {
  padding: 5px 4px 10px 10px !important;
}

.responses-0,
.responses-0 .level-1,
.responses-0 .level-2,
.responses-0 .level-3,
.responses-0 .level-4 {
  padding-right: 0 !important;
  margin-right: 0 !important;
  background: $c-black-lt !important;
  border-radius: 5px !important;
  box-shadow: none !important;
}

.responses-0 .level-1,
.responses-0 .level-3 {
  background: darken($c-black-lt, 1.5%) !important;
}

#responseminiblog {
  width: 98%;
}

.post-button,
#reply-history.button {
  background: $c-blue-lt !important;
  border: none !important;
  color: $c-font !important;
}

#fancybox-content {
  background: $c-black-dk !important;
}

#fancybox-content,
#fancybox-content * {
  border-color: $c-blue-dk !important;
}

h3.title,
#home-middle .title {
  border-radius: 5px 5px 0 0 !important;
  background: $c-blue-lt !important;
  border: none !important;
}

h3.title span,
#home-middle .title span {
  background: none !important;
  color: $c-font !important;
}

#latest-topics,
.mb-col,
.widget .box,
.junk-box {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.latest-imgs a span.cnt {
  width: 72px !important;
  height: 72px !important;
}

@media (min-width: 1390px) {
  .latest-imgs a span.cnt {
    width: 55px !important;
    height: 55px !important;
  }
}


.widget {
  border-radius: 5px !important;
  background: $c-black-lt !important;
}

ul.tabs {
  background: $c-blue-dk !important;
  border-radius: 5px !important;
  padding: 6px 5px !important;
}

ul.tabs li > a {
  color: $c-font !important;
  text-shadow: none !important;
  border: none !important;
  border-radius: 5px !important;
  background: $c-blue-dk !important;
}

ul.tabs li > a.active,
ul.tabs li:hover > a {
  color: #fff !important;
  background: $c-blue-lt !important;
}

#footer-widgets {
  border-radius: 10px 10px 0 0 !important;
  background: $c-blue-dk !important;
}

#footer-widgets .widget {
  background: none !important;
}

#footer-widgets h3.title {
  border-radius: 5px !important;
}

.socmed ul li,
.widget .kontak ul,
.widget .kontak ul li,
#ucl a {
  border: none !important;
}

#noindex-phone {
  background-image: url('/bildes/number-dark.gif') !important;
}

.rpl-list li {
  &:last-child {
    border-bottom: none !important;
  }

  border-bottom: 1px solid $c-black-lt !important;
}

h3.title {
  padding: 5px 10px !important;

  > span {
    padding: 0 !important;
  }
}

// Codeblock
pre.prettyprint {
  // Cannot make it darker but this will do
  background: #ddd !important;
}

// Warns
.form .notice {
  border: none !important;
  background: #ffafaf !important;
}

// Ew
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  color: $c-font !important;
  background: $c-blue-dk !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
  background: $c-blue-lt !important;
}

// Custom search
#s-nicks {
  position: absolute;
  background: $c-blue-dk;
  border: 1px solid $c-black-lt;
  width: 100%;
  max-height: 300px;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  box-sizing: border-box;
  overflow: auto;

  a {
    padding: 5px;
    flex: 1 1 33%;
  }
}

// Custom color stuff
#theme-color-chooser {
  margin-bottom: 10px;

  .color-list a {
    margin: 0 3px;
  }
}

// PM
#pm-table td {
  background: none !important;
  border-color: #333 !important;
}

#pm-table tr.read-0 td {
  background: $c-blue-dk !important;
}

#pm-table tr:hover td {
  background: $c-blue-lt !important;
}

// Fix junk
#junk-list {
  list-style: none !important;
}

.table th,
.table td {
  border-color: #333 !important;
}

// User info modal
#edt-user-info-modal {
    position: absolute;
    z-index: 9999;
    background: #111;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    max-width: 33%;

    img {
        width: auto;
        max-width: 150px;
        max-height: 100px;
        margin-right: 10px;
        border-radius: 5px;
    }

    strong {
        display: block;
    }

    small {
        font-size: 10px;
    }

    p {
        margin: .1em 0;
    }
}
